$header-background: green;
$header-textColor: pink;

.header-container{
  height: 898px;
  width: 100%;
  // position:relative;
}
.header-image{
  height: 100%;
  width: 100%;
  // position:absolute;
  
}

.header-div{
  height: 898px;
  width: 100%;
  background-color: rgba(0,0,0,0.8);
}

.header-text{
  margin-top: 25%;
  margin-left: 10%;
  background-color: $header-textColor;
  width: 500px;
  height: 250px;
}

.intro{
  padding: 8px;
  text-align: justify;
}