.home-row{
  margin: 0!important;
  height: 100vh;
  background: linear-gradient(to right, #fa574f 50%, #f8f8f8 50%);
  align-items: center;
  // @import url('https://fonts.googleapis.com/css?family=Monoton&display=swap');
  // font-family: 'Monoton', cursive;

  font-size: 80px;
  font-weight: 900;
}

.home-center{
  
}
.hello-world{
  color: #1c1b20;
}
.full-stop{
 color: #fa574f; 
}