@import './colors';
@import './index.scss';

.skill-row{
  height: 100vh;
  align-content: center;
}

.skill-col{
  background-color: $skillBackground;
  text-align: center;
  -webkit-box-shadow: 2px 2px 1px 1px $secondaryBackground;
  -moz-box-shadow: 2px 2px 1px 1px $secondaryBackground;
  box-shadow: 2px 2px 1px 1px $secondaryBackground;
  padding: 10px;
  border: 1px soild #FFFFFF;
  &:hover{
    transform: scale(1.1);
  }
  .skill-title{
    // @import url('https://fonts.googleapis.com/css?family=Henny+Penny&display=swap');
    // font-family: 'Henny Penny', cursive;

    @import url('https://fonts.googleapis.com/css?family=Cinzel+Decorative&display=swap');
    font-family: 'Cinzel Decorative', cursive;

    font-size: 18px;
  }
  .skill-list{
    padding: 5px;
  }
}

// .column-3{
//   width:calc(100% / 3);
//   text-align: center;
// }
